title{
    background: black;
    color: white;
    text-align: center;
}
h1 {
    background: black;
    color: white;
    text-align: center;
}
a{
    color: green;
}
#wolf{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headline{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}
ol{
    text-align: center;
}
ul{
    text-align: center;
}
table{
    background: black;
    color: white;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}